.root {
    -fx-font-family: "Segoe UI", "Roboto", "Arial";
    -fx-background-color: linear-gradient(to bottom right, #f8f9fb, #e6eef8);
}

.label {
    -fx-font-size: 16.0px;
    -fx-text-fill: #2b3e50;
}

.button {
    -fx-font-size: 14.0px;
}

.table-view .column-header .label {
    -fx-alignment: CENTER-LEFT; /* Change to CENTER-LEFT, CENTER-RIGHT, etc. */
}

.table-row-cell:selected {
    -fx-background-color: lightBlue; /* Your desired color (e.g., red) */
}

.table-row-cell:selected .box {
    -fx-background-color: white; /* Your desired color (e.g., red) */   
}

#exceptionpane {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

#exceptionpane .label {
	 -fx-font-size: 24.0px;
    -fx-text-fill: red;
	
}